nav
  ul
    li 
      a(href="/") Inicio
    li
      a(href="/quienes-somos") ¿Quiénes somos?
    li
      a(href="/donde-estamos") ¿Dónde estamos?
    li
      a(href="/que-hacemos") ¿Qué hacemos?
    li
      a(href="/contacto") Contacto